html {
  color: aliceblue;
  height: 100vh;
  min-width: 600px;
  background-image: linear-gradient(130deg, #272727, #53195f);
  background-repeat: no-repeat;
  background-size: auto;
}

span {
  margin-right: 10px;
  cursor: pointer;
}

small {
  color: gray;
}

p {
  font: bold 11px arial;
}

button {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
